*{
	margin: 0;
	padding: 0;
	list-style: none;
}
html,body{
	width: 100%;
	height: 100%;
	background-color: #fff;
	overflow: hidden;
}
.notice{
	width: 100%;
	height: 100%;
	overflow: hidden;

}
.notice-title{
	height: 40px;
	position: relative;
	background: #f7f7f7;
}
.notice-title ul{
	position: absolute;
	width: 100%;
	overflow: hidden;
	left: -1px;

}
.notice-title li{
	float: left;
	width: 25%;
	height: 39px;
	line-height: 39px;
	text-align: center;
	overflow: hidden;
	border-bottom: 1px solid #eee;
}
.notice-title li a:link,.notice-title li a:visited{
	text-decoration: none;
	color: #000;
}
.notice-title li.select{
	background:#fff;
	border-bottom-color:#fff;
	padding: 0;  
	color: #1e8eef;
}
.notice-content .model{
	margin: 10px 10px 10px 19px;
}
/*红包*/
.envelope-detail-wrap{
	width: 80%;
	height: 80%;
	position: absolute;
	top: 10%;
	left: 10%;
	z-index: 10;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: solid 1px #c6c6c6;
    text-align: center;
    background-color: #fffaf5;
}
.envelope-detail-wrap .top{
	background-image: url(../images/envelope-top-03.png);
	background-size: 100%;
	background-repeat: no-repeat;
	font-size: 1.5rem;
    color: #fee4b2;
    padding-top: 3%;
    height: 30%;
}
.redbutton{
	position: absolute;
    top: 8%;
    left: 30%;
	width: 40%;
	height: 22%;
	border-radius: 100%;
	background-color: #fdc339;
	font-size: 2rem;
	border: 0;
}
.envelope-detail-wrap .top .name-ext {
    font-style: normal;
    font-size: 1.5rem;
    color: #fee4b2;
    /*vertical-align: top;*/
}
.envelope-detail-wrap .slogan{
	height: 20rem;
    line-height: 5rem;
    font-size: 1.5rem;
    color: #df3618;
}
.envelope-detail-wrap .mid a {
    font-size: 1.5rem;
    color: #e05449;
    cursor: pointer;
}
.envelope-close{
	font-style: normal;
	position: absolute;
    top: 1%;
    right: 2%;
}